* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 300% 300%;
    background-image: linear-gradient(-45deg, rgb(48, 0, 110) 0%, rgb(48, 0, 110) 25%, rgb(48, 0, 110) 51%, #be00e3 100%);
    -webkit-animation: AnimateBG 20s ease infinite;
            animation: AnimateBG 20s ease infinite;
  }
  
  @-webkit-keyframes AnimateBG {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  @keyframes AnimateBG {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

.container {
    background: #fcfff3;
    padding: 50px;
    border-radius: 5px;
    box-shadow:
        0 0 90px 30px rgb(122, 69, 129),
        /* inner white */
        0 0 40px 20px rgb(68, 33, 87),
        /* middle magenta */
        0 0 20px 15px rgb(48, 36, 74);
    /* outer cyan */
}

.input {
    position:relative;
	font-size: 1.5em;
	background: linear-gradient(21deg, #ff10bf, #bd1bea);
	padding: 3px;
	display: inline-block;
	border-radius: 9999em;
}


input {
    padding: 15px;
    border: none;
	border-radius: 9999em;
    outline: none;
    background: #f5f9eb;
    color: #9b019b;
    font-size: 18px;
    width: 300px;
    margin-right: 10px;
}

button {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    background-image: linear-gradient(to right, #6253e1, #852D91, #A3A1FF, #F24645);
    box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

button:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}


.todos-list {
    margin-top: 3rem;
}

.todo {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f5f9eb;
    padding: 7px 20px;
    font-size: 18px;
    margin: 10px;
    font-family: sans-serif;
}

.close {
    padding: 5px 10px;
    cursor: pointer;
}